In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("COPY_eliza.csv")

In [3]:
print(df)

    Unnamed: 0 Unnamed: 1           Ville Type du bien Disponibilité  \
0            0    4045413           Liege     Commerce         Vendu
1            1  109 000 €           Liege  Appartement         Vendu
2            2  109 000 €           Liege  Appartement         Vendu
3            3    4337874           Liege  Appartement         Vendu
4            4  109 000 €           Liege       Maison         Vendu
..         ...        ...             ...          ...           ...
86          86   89 000 €  Grace-Hollogne      Terrain      À vendre
87          87    2021392           Liege  Appartement         Vendu
88          88   99 000 €         Herstal  Appartement         Vendu
89          89   99 000 €           Liege       Maison         Vendu
90          90   99 000 €           Trooz       Maison         Vendu

    État du bien Revenu cadastral  Toilette Cave   Type de chauffage  ...  \
0       Bon état          1 311 €       1.0  Oui                 Gaz  ...
1   à rafraîchir            696 €       1.0  Oui                 Gaz  ...
2   à rafraîchir            765 €       1.0  Oui                 Gaz  ...
3       Bon état            431 €       1.0  Oui                 Gaz  ...
4       Bon état            270 €       1.0  Oui  Gaz (chau. centr.)  ...
..           ...              ...       ...  ...                 ...  ...
86           NaN              NaN       NaN  NaN                 NaN  ...
87      Bon état            431 €       1.0  NaN                 NaN  ...
88      Bon état            654 €       1.0  Oui                 Gaz  ...
89  à rafraîchir            360 €       1.0  NaN                 Gaz  ...
90      Bon état            131 €       1.0  Oui                 Gaz  ...

    Terrain  Chambre 2  Terrasse Chambre 3 Chambre 4 Chambre 5 Prix Garage  \
0       NaN        NaN       NaN       NaN       NaN       NaN  NaN    NaN
1       NaN        NaN       NaN       NaN       NaN       NaN  NaN    NaN
2       NaN        NaN       NaN       NaN       NaN       NaN  NaN    NaN
3       NaN        NaN       NaN       NaN       NaN       NaN  NaN    NaN
4     30 m2   16.96 m2       NaN       NaN       NaN       NaN  NaN    NaN
..      ...        ...       ...       ...       ...       ...  ...    ...
86  1131 m2        NaN       NaN       NaN       NaN       NaN  NaN    NaN
87      NaN        NaN       NaN       NaN       NaN       NaN  NaN    1.0
88      NaN        NaN       NaN       NaN       NaN       NaN  NaN    NaN
89      NaN   10.48 m2       NaN       NaN       NaN       NaN  NaN    NaN
90      NaN        NaN       NaN       NaN       NaN       NaN  NaN    NaN

    Salle à manger  Parking
0              NaN      NaN
1              NaN      NaN
2              NaN      NaN
3              NaN      NaN
4              NaN      NaN
..             ...      ...
86             NaN      NaN
87             NaN      NaN
88             NaN      NaN
89             NaN      NaN
90             NaN      NaN

[91 rows x 34 columns]